lower{
	min-width: 340px;
	margin: 10% auto;
	padding: 50px;
	background: white;
	opacity: 0.8;
	color: black;
	box-shadow: inset 0 0 0 1px black;
	border: 30px solid white;
	max-width: 720px;
}
.lower:hover{
  /* background:black;
  color:white;
  box-shadow:inset 0 0 0 1px white;
  border:30px solid black;*/
} 

.lower label {
  display: inline-block;
  font-family: "NotCourierSans";
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  padding: 6px 6px 6px 0;
}
.lower label:hover{
  cursor:pointer;
}


.overlay{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgb(39 37 37 / 90%);
    z-index: 3;
}
.overlay label{
    /* width: 58px; */
    /* height: 58px; */
    position: absolute;
    right: 20px;
    top: 20px;
    /* background: url(http://tympanus.net/Development/FullscreenOverlayStyles/img/cross.png); */
    z-index: 100;
    cursor: pointer;
    font-size: 2.5rem;
    color: var(--gray-6);
}

.overlay nav {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  /* font-size: 5.4rem; */
  /* -webkit-transform: translateY(-50%); */
  /* transform: translateY(-50%); */
  right: 0;
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
    height: 20%;
    height: calc(100% / 5);
    text-align: left;
    margin-bottom: 5%;
}

.overlay ul li a, .overlay-hugeinc--modify-search-form--icon {
    color: white;
    display: inline-block;
    font-family: "NotCourierSans";
    font-size: 2rem;
    font-weight: 300;
    text-decoration: none;
    text-transform: capitalize;
    transition: color 0.2s ease 0s;
    margin-right: 10px;
}


.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #bfe00b;
}

.lower~.overlay-hugeinc{
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

#op:checked~.overlay-hugeinc{
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.overlay-hugeinc nav {
	-moz-perspective: 300px;
}

.overlay-hugeinc nav ul {
	opacity: 0.4;
	-webkit-transform: translateY(-25%) rotateX(35deg);
	transform: translateY(-25%) rotateX(35deg);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

input#op{
  display:none;
}
#op:checked~.overlay-hugeinc nav ul {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

#op:not(:checked)~.overlay-hugeinc nav ul {
	-webkit-transform: translateY(25%) rotateX(-35deg);
	transform: translateY(25%) rotateX(-35deg);
}

ul.overlay.overlay-hugeinc--modify-text{
	padding: 30px;
}

.overlay-hugeinc--modify-icon{
	margin-right: 10px;
  font-size: 2rem;
}

.overlay-hugeinc__input {
    width: 159px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 1.8rem;
    background-color: white;
    background-image: url(searchicon.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 6px 19px 5px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  .overlay-hugeinc__input:focus {
	width: 100%;
  }

  .overlay-hugeinc--modify-search-form{
	  display: flex !important;
}